page-slider {  
  ion-slide{
    padding-top: 20%;
  }
 
  .big-img-bg {
    position: relative;
    background: url('../assets/imgs/chair_ballon.jpg') no-repeat transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 100;      
  }
  .toolbar {
    background: transparent;
    border-color: transparent;
  }
  .slide-zoom {
    height: 100%;
  }
  .slide-title {
    margin-top: 2.8rem;
  }
  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }
  // b {
  //   font-weight: 500;
  // }
  // h1,h2,h3,h4 {
  //   color: #ebebeb;
  // }
  // p {
  //   padding: 0 40px;
  //   // font-size: 1.2rem;
  //   line-height: 1.5;
  //   color:#ebebeb;
  //   b {
  //     color: #ebebeb;
  //   }
  // }
}

