<!-- <ion-header>
  <ion-navbar>
    <button menuToggle ion-button>
      <ion-icon name="menu" clear></ion-icon>
    </button>
    <ion-title text-center>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <!-- <div class="card-background-page">
    <img [src]="headerImage" height="100px" width="100%" />
    <div class="card-title">Music Xpress</div>
    <div class="card-subtitle">41 Listings</div>
  </div> -->


  <ion-card *ngIf="create">
    <ion-card-title>
      Charts - Top tracks
    </ion-card-title>
    <ion-slides loop="true" slidesPerView="1" direction="horizontal">
      <ion-slide *ngFor="let track of tracks.data">
        <ion-card>
          <!-- <ion-row no-padding>
                      <ion-col col-4>
                        <button ion-button clear small color="danger" icon-start (click)="addFavourite($even, track)">
                          <ion-icon name='heart-outline'></ion-icon>
                          Favorite
                        </button>
                      </ion-col>
                      <ion-col text-center col-4>
                        <button ion-button clear small color="danger" icon-start (click)="play(track)">
                          <ion-icon name='musical-notes'></ion-icon>
                          Listen
                        </button>
                      </ion-col>
                      <ion-col text-right col-4>
                        <button ion-button clear small color="danger" icon-start (click)="share(track)">
                          <ion-icon name='share'></ion-icon>
                          Share
                        </button>
                      </ion-col>
                    </ion-row> -->
        </ion-card>
        <a (click)="itemDetail(track)">
          <img [src]="track.album.cover_big" /> {{track.title}}
          <p>
            <strong>By</strong> {{track.artist.name}} at
            <strong>Position</strong> {{track.position}}
          </p>
        </a>
      </ion-slide>
    </ion-slides>
  </ion-card>


  <ion-card *ngIf="create">
    <ion-card-header>
      Top - Albums
    </ion-card-header>

    <ion-slides>
      <ion-slide *ngFor="let item of albums.data">
        <div>
          <img [src]="item.cover_big" /> {{item.title}}
          <p>
            <strong>By</strong> {{item.artist.name}} at
            <strong>Position</strong> {{item.position}}
          </p>
          <ion-row no-padding>
            <ion-col col-4>
              <button ion-button clear small color="danger" icon-start (click)="addFavourite(item)">
                <ion-icon name='heart-outline'></ion-icon>
                Favorite
              </button>
            </ion-col>
            <ion-col text-center col-4>
              <button ion-button clear small color="danger" icon-start (click)="play(item)">
                <ion-icon name='musical-notes'></ion-icon>
                Play
              </button>
            </ion-col>
            <ion-col text-right col-4>
              <button ion-button clear small color="danger" icon-start (click)="share(item)">
                <ion-icon name='share'></ion-icon>
                Share
              </button>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card *ngIf="create">
    <ion-card-header>
      Top - Artists
    </ion-card-header>

    <ion-slides>
      <ion-slide *ngFor="let item of artists.data">
        <div>
          <img [src]="item.picture_big" /> {{item.name}}
          <p>
            <strong>Position</strong> {{item.position}}
          </p>

          <ion-row no-padding>
            <ion-col col-4>
              <button ion-button clear small color="danger" icon-start (click)="addFavourite(item)">
                <ion-icon name='heart-outline'></ion-icon>
                Favorite
              </button>
            </ion-col>
            <ion-col text-center col-4>
              <button ion-button clear small color="danger" icon-start (click)="play(item)">
                <ion-icon name='musical-notes'></ion-icon>
                Play
              </button>
            </ion-col>
            <ion-col text-right col-4>
              <button ion-button clear small color="danger" icon-start (click)="share(item)">
                <ion-icon name='share'></ion-icon>
                Share
              </button>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card *ngIf="create">
    <ion-card-header>
      Top - Playlists
    </ion-card-header>
    <ion-slides>
      <ion-slide *ngFor="let item of playlists.data">
        <div>
          <img [src]="item.picture_big" /> {{item.title}}
          <p>
            <strong>Playlist</strong> by {{item.user.name}}
            <strong>Tracks</strong> {{item.nb_tracks}}
          </p>
          <ion-row no-padding>
            <ion-col col-4>
              <button ion-button clear small color="danger" icon-start (click)="addFavourite(item)">
                <ion-icon name='heart-outline'></ion-icon>
                Favorite
              </button>
            </ion-col>
            <ion-col text-center col-4>
              <button ion-button clear small color="danger" icon-start (click)="play(item)">
                <ion-icon name='musical-notes'></ion-icon>
                Play
              </button>
            </ion-col>
            <ion-col text-right col-4>
              <button ion-button clear small color="danger" icon-start (click)="share(item)">
                <ion-icon name='share'></ion-icon>
                Share
              </button>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>