// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


// Named Color Variables
// --------------------------------------------------
$color-grey: grey;
$colors: (
  primary:    #4a8bfc,//#005694,//#026d62,// #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  pnk:        purple,
  army:       #556b2f,
  light:      #f4f4f4,
  clear:      #ffffff,
  dark:       #222,
  energized:  #ffa96b,
  royal:      #7e60ff,
  subtle:     #444444,
  vibrant:    rebeccapurple,
  bright:     #e27b45,
  seethrough: rgba(rgba(255, 255, 255, 0.178), 0.1),
  night:      #000000,
  lytgray:    rgba(gray, 0.452), 
  transp:     rgba(black, 0.9),
  darkblu: #1d4676,
  facebook: #3b5998,
);
$loading-md-spinner-color	: color($colors, primary);
$loading-md-background: color($colors, clear);
$loading-md-box-shadow-color:	rgba(0, 0, 0, .4);
$loading-md-box-shadow: 0 16px 20px ;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// Change the checkbox checkmark color
$checkbox-ios-icon-checkmark-color:   #fff;

// Used to show the status bar for component demos
$cordova-ios-statusbar-padding:       20px;

$ion-content-font: $font-family;
// App Material Design Variables
// --------------------------------------------------

// Change the toolbar background color
$toolbar-md-background:                   color($colors, primary);

// Change the color of the segment button text
$toolbar-md-active-color:                 #fff;

// Change the checkbox checkmark color
$checkbox-md-icon-checkmark-color:        #fff;

// Used to show the status bar for component demos
$cordova-md-statusbar-padding:           29px;

// App Windows Variables
// --------------------------------------------------

$cordova-wp-statusbar-padding:           31px;

// App Theme
// --------------------------------------------------
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
// Global Styles


body, body:hover, body a, body button, body media-switch {
  cursor: url('http://ionicframework.com/img/finger.png') 8 8, auto;
}

body ion-app {
  overflow: visible;
}

ion-page {
  display: flex;
}

ion-scroll {
  width: 100%;
  height: 100%;
}

body.has-scrollbar scroll-content {
  margin-right: -15px;
}

body.has-scrollbar ion-menu scroll-content {
  margin-right: 0;
}

scroll-content {
  overflow-y: scroll;
}

.statusbar-img {
  display: none;
}

// App iOS Styles
// --------------------------------------------------

.ios {

  // iOS Status Bar
  //---------------------------
  .statusbar-img-ios {
    display: block !important;
    position: absolute;
    background-color: transparent;
    padding: 5px 0;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 999;
  }

  .tabs-icon-text tabbar {
    .tab-button[aria-selected=true],
    .tab-button:hover:not(.disable-hover) {
      color: #7e60ff;
    }
  }

}


// App Material Design Styles
// --------------------------------------------------

.md {

  // Android Status Bar
  //---------------------------
  .statusbar-img-md {
    display: block !important;
    position: absolute;
    background-color: transparent;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 999;
  }

  .tabs-icon-text ion-title div.toolbar-title {
    color: #fff !important;
  }

  .tabs-icon-text tabbar {
    background-color: #7e60ff;

    a {
      color: #fff !important;
    }
  }

  .tabs-icon-text tab-highlight {
    color: #fff;
    background-color: #fff;
  }

}


// App Windows Styles
// --------------------------------------------------

.wp {

  // Windows Status Bar
  //---------------------------
  .statusbar-img-wp {
    display: block !important;
    position: absolute;
    background-color: transparent;
    padding: 5px 0;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 999;
  }
}